################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/sln.Locadora_de_Veículos/FileContentIndex/1e438b1e-dc88-4039-bc58-3a5739f8b98f.vsidx
